body {
  background-color: antiquewhite;
  font-family: "Bebas Neue", cursive;
}
.calculator {
  width: 288px;
  height: 450px;
  background-color: azure;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.calcButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.calcButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  background-color: black;
  color: aliceblue;
  border: 1px solid #2d3134;
  cursor: pointer;
}

.calcButton:hover {
  opacity: 0.9;
}

.button-long {
  width: 142;
}

.purple {
  background-color: #5f4ab6;
  border: 1px solid #6a5660;
  font-family: bold;
}

.orange {
  background-color: #ffc207;
  border: 1px solid #ffc207;
  color: black;
}

.calcPanel {
  height: 100px;
  text-align: right;
  padding: 20px;
  position: relative;
}

.calcPanelResult {
  position: absolute;
  right: 20px;
  left: 20px;
  word-wrap: break-word;
  bottom: 20px;
  font-size: 34px;
}

.log {
  font-size: 15px;
}
